.interface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: openInterface;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.interface__inner {
    padding: 2rem;
    background-color: green;
    border-radius: 1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    text-shadow: 0 0 1px black;
    box-shadow: 3px 3px 5px grey;
}

.interface__title {
    font-size: 1.4rem;
    font-weight: 600;
}

.interface__text {
    margin-top: 1rem;
}

@keyframes openInterface {
    0% {
        left: 50%;
        top: 0;
        opacity: 0.3;
    }

    100% {
        left: 50%;
        top: 50%;
        opacity: 1;
    }
}
